.fixed-height-carousel {
    height: 300px; 
}

.fixed-height-carousel .carousel-item img {
    height: 100%;
    object-fit: cover; 
}

.card-hover:hover {
    transform: scale(1.05);
    transition: transform .2s;
}

body {
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .custom-breadcrumb {
    background-color: #f8f9fa; 
    border-radius: 5px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); 
    padding: 10px;
  }
  
  .custom-breadcrumb .breadcrumb-item a {
    color: #6c757d; 
  }
  
  .custom-breadcrumb .breadcrumb-item.active {
    color: #495057; 
  }